<ion-grid>
    <ion-row>
        <ion-col>
            <h1>New Product</h1>
        </ion-col>
    </ion-row>
    <form [formGroup]="productForm">
        <ion-row>
            <ion-col>
                <ion-label>Name:</ion-label>
                <ion-input formControlName="name" placeholder="Name"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>precio unitario:</ion-label>
                <ion-input formControlName="price" placeholder="precio"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label>Cantidad:</ion-label>
                <ion-input formControlName="quantity" placeholder="cantidad"></ion-input>
            </ion-col>
        </ion-row>

    </form>
    <ion-row>
        <ion-col>
            <ion-button expand="full" color="primary" [disabled]="!productForm.valid" (click)="save()">Save</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>