<ion-content class="content-app">
<ion-grid>
    <ion-row>
        <ion-col>
            <h1>New Client</h1>
        </ion-col>
    </ion-row>
    <form [formGroup]="clientForm" >
        <ion-row>
            <ion-col>
                <ion-input class="item-input" formControlName="name" placeholder="Name"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input class="item-input" formControlName="lastname" placeholder="apellido"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="item-input" formControlName="cedula" placeholder="Cedula"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="item-input" formControlName="phone" placeholder="Telefono"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="item-input" formControlName="address" placeholder="Dirección"></ion-input>
            </ion-col>
        </ion-row>

    </form>
    <ion-row>
        <ion-col>
            <ion-button expand="block" [disabled]="!clientForm.valid" (click)="save()" color="primary">Guardar</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button expand="block" [routerLink]="['/main/client/list']" color="primary">Volver</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>