<ion-card>
  <ion-card-header>
    <ion-card-title>{{sale.name}}</ion-card-title>
    <ion-card-subtitle>Estado <span>{{sale.state}}</span></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <table class="table">
      <thead>
        <tr><td>Name</td><td>cant</td><td>precio</td></tr>
      </thead> 
      <tr *ngFor="let item of sale.saleItem">
        <td>{{getNameProduct(item.product)}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.unitPrice |currency}}</td>
      </tr>
    </table>
    <p><strong>Monto :</strong> <span>{{sale.amountTotal | currency }}</span></p>
    <p>Abonado <span>{{getAmountPayment()|currency}}</span></p>
    
  </ion-card-content>
</ion-card>