<app-header Name="Payment" ></app-header>
<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Payments
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-button color="primary" [routerLink]="['/main/payment/new']">
                <ion-icon name="add-outline"></ion-icon> NUEVO PAYMENT</ion-button>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item>
            <ion-label>listas</ion-label>
        </ion-item>
    </ion-list>
</ion-content>