
<app-header Name="Payment" ></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-button color="primary" [routerLink]="['/main/payment/new']">
                <ion-icon name="add-outline"></ion-icon> New PAYMENT</ion-button>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-list >
            <ion-item *ngFor="let k of payments | keys" >
                <ion-label>{{payments[k].amount}}</ion-label>
                <ion-label>{{getName(payments[k].sale)}}</ion-label>
<!--                 <ion-button (click)="ActionSheet(k)" color="ligth"  style="color:#000;" ><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
 -->            </ion-item>
        </ion-list>
    </ion-list>
</ion-content>
