<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col push="3">
          <h1>Delivered</h1>
      </ion-col>
    </ion-row>
    
    <form  >
        <ion-row>
          <ion-col>
            <ion-item class="item-input">
              <ion-input mode="ios" placeholder="Name" type="text" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input">
              <ion-input  mode="ios" placeholder="Cedula" type="text" ></ion-input>
            </ion-item>    
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input">
              <ion-input  mode="ios" placeholder="Telf:" type="text" ></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input">
              <ion-input  mode="ios" placeholder="Direccion" type="text" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Confirm Deliver</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
