<ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
            <h1>New Payment</h1>
        </ion-col>
    </ion-row>

    <form [formGroup]="paymentForm">
        <ion-row>
            <ion-col>
                <ion-item class="item-input">
                    <ion-label>Sale:</ion-label>
                    <ion-select formControlName="sale"  placeholder="Select One Sale" (ionChange)="getSale($event)" >
                        <ion-select-option *ngFor="let k of sales | keys" [value]="k" >{{sales[k].name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item  class="item-input">
                <ion-label>Amount:</ion-label>
                <ion-input formControlName="amount" placeholder="Amount"></ion-input>
                </ion-item>    
            </ion-col>
        </ion-row>
    </form>
<ng-container *ngIf="sale?.name" >
    <app-card [sale]="sale" [name]="'Gustavo'" [payments]="payments"></app-card>
</ng-container>

        

    <ion-row>
        <ion-col>
            <ion-button expand="full" [disabled]="!paymentForm.valid" (click)="save()"><ion-icon name="save"></ion-icon>&nbsp;Guardar</ion-button>
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button expand="full" [routerLink]="['/main/payment/list']"><ion-icon name="arrow-undo-outline"></ion-icon>&nbsp;Volver</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>