<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            producto
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
            <ion-button color="primary" [routerLink]="['/main/product/new']">
                <ion-icon name="add-outline"></ion-icon> NUEVO PRODUCT</ion-button>
        </ion-col>
        <!-- <ion-col>
            <ion-button color="primary" [routerLink]="['/main/product/edit/1']">NUEVO PRODUCT</ion-button>
        </ion-col> -->
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item *ngFor="let product of products" >
                    <ion-label>{{product.name}}</ion-label>
                    <ion-button (click)="ActionSheet(product.id)" color="ligth"  style="color:#000;" ><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>

                    <!-- <ion-item-option side="start">
                        <img src="" alt="imagen" />
                    </ion-item-option> -->
                    <!-- <ion-input></ion-input> -->
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>