<app-header Name="New Sale" ></app-header>
<ion-content>
<ion-grid>
    <form [formGroup]="saleForm">
        <ion-row>
            <ion-col>
              <!--   <ion-item *ngFor="let k of products | keys" >
                    <ion-label>{{products[k].name}}</ion-label>
                    <ion-button (click)="ActionSheet(k)" color="ligth"  style="color:#000;" >
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                </ion-item> -->
                <ion-item>
                    <ion-select class="item-input" formControlName="client"  placeholder="Select One Client">
                        <ion-select-option *ngFor="let k of clients | keys" [value]="k" >{{clients[k].name}}</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-col>
       
        </ion-row>

    
    <ion-row *ngIf="editing">
        <ion-col >
            <ion-item>
                <ion-select disabled="true" formControlName="state"  placeholder="Change State">
                    <ion-select-option *ngFor="let k of states  | keys"  >{{states[k]}}</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- <ion-chip class="chip" color="secondary">
            {{sale?.state}}
            </ion-chip> -->
            
        </ion-col>
        <!-- <ion-col>
            <ion-button color="primary">Change State</ion-button>
        </ion-col> -->
    </ion-row>
    <ion-row *ngIf="sale?.state === 'PENDING' ">
        <ion-col offset="1" >
            <label class="msg-notification"><a (click)="deliveredProductModal()">Pendiente por entregar producto</a></label> 
        </ion-col>
    </ion-row>

</form>
    <ion-row>
        <ion-col size="6" >
            <ion-button color="primary" [routerLink]="['/main/sale/list']" ><ion-icon name="arrow-undo-outline"></ion-icon>&nbsp; volver</ion-button>
        </ion-col>
        <ion-col size="6" >
            <ion-button color="primary" (click)="presentModal()" [disabled]="!saleForm.valid" ><ion-icon name="add"></ion-icon>&nbsp; Product</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item >
                <ion-label><strong>Name</strong></ion-label>
                <ion-label><strong>Qty</strong></ion-label>
                <ion-label><strong>UPrice</strong></ion-label>
                <ion-label><strong>Total</strong></ion-label>
                <ion-label></ion-label>
            </ion-item>
            <ion-item *ngFor="let saleItem of saleItems;index as id;" >
                <ion-label>{{getProduct(saleItem.product)}}</ion-label>
                <ion-label>{{saleItem.quantity}}</ion-label>
                <ion-label>{{saleItem.unitPrice}}</ion-label>
                <ion-label>{{saleItem.amountTotal}}</ion-label>
                <ion-label><ion-button color="light" (click)="alertConfirmDelete(id)" ><ion-icon name="trash-outline"></ion-icon></ion-button></ion-label>

            </ion-item>
            <ion-item >
                <ion-label>&nbsp;</ion-label>
                <ion-label>&nbsp;</ion-label>
                <ion-label>Total:</ion-label>
                <ion-label>{{amountTotal}}</ion-label>
            </ion-item>

        </ion-col>
      </ion-row>
    <ion-row *ngIf="saleItems.length > 0 ">
        <ion-col>
        <ion-button color="primary" expand="block" (click)="saveSale()" ><ion-icon name="save-outline"></ion-icon> &nbsp; Save</ion-button>
        </ion-col>
      </ion-row>
      <ion-row > <!-- *ngIf="sale?.state === 'PENDING'" -->
        <ion-col>
        <ion-button color="secondary" expand="block" (click)="confirmDelivered()" > <span class="icon-deliver"></span> <img class="icon-custom" width="100px" src="../../../assets/delivering.svg" />&nbsp; deliver</ion-button>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>