<ion-grid>
    <ion-row>
        <ion-col>
            <h1>New Sale</h1>
        </ion-col>
    </ion-row>
    <form>
        <ion-row>
            <ion-col>
                <ion-label>Client:</ion-label>
                <ion-input placeholder="Name"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label>Apellido:</ion-label>
                <ion-input placeholder="apellido"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>Telefono:</ion-label>
                <ion-input placeholder="Telefono"></ion-input>
            </ion-col>
        </ion-row>

    </form>
    <ion-row>
        <ion-col>
            <ion-button color="primary">Save</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>